<div class="container">
  <div class="m-2">
    <h5 class="bold-font">Wed, March 30, 2016</h5>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-1">
            <img src="https://placeholdit.imgix.net/~text?txtsize=34&txt=C&w=60&h=60" alt="" class="subject-image">
          </div>
          <div class="col-md-6">
            <h5 class="card-title bold-font">Nulla convallis dolor quis erat.</h5>
            <p class="card-text">Sed hendrerit luctus finibus. Sed justo dui, vulputate ac suscipit condimentum, porttitor sed dolor. Ut eu justo at metus dapibus facilisis a quis libero. Integer lectus turpis, pretium a tincidunt.</p>
          </div>
          <div class="col-md-2">
            <img src="https://placeholdit.imgix.net/~text?txtsize=34&txt=C&w=60&h=60" alt="" class="subject-image float-left">
            <p class="card-text bold-font">Erat Libero</p>
          </div>
          <div class="col-md-3">
            <p class="card-text bold-font">22:00:00</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-1">
            <img src="https://placeholdit.imgix.net/~text?txtsize=34&txt=C&w=60&h=60" alt="" class="subject-image">
          </div>
          <div class="col-md-6">
            <h5 class="card-title bold-font">Pellentesque sagittis porttitor tincidunt. Sed.</h5>
            <p class="card-text">Curabitur eu velit vitae massa varius rhoncus. Proin eu ligula venenatis, consequat libero maximus, varius lorem. Morbi a dignissim nibh. Suspendisse eget ornare nunc, sollicitudin lacinia elit. Sed in volutpat.</p>
          </div>
          <div class="col-md-2">
            <img src="https://placeholdit.imgix.net/~text?txtsize=34&txt=C&w=60&h=60" alt="" class="subject-image float-left">
            <p class="card-text bold-font">Erat Libero</p>
          </div>
          <div class="col-md-3">
            <p class="card-text bold-font">22:00:00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
