body {
  background-color: #F4F6F9 !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 0.875rem !important;
}

.subject-image {
  border-radius: 50%;
  width: 30px;
}

.bold-font {
  font-weight: 600;
}
